<!-- Shawn Jain -->
<!-- 2/3/2014 -->
<!-- Kommonly -->

<!-- Temporary Homepage for dev -->
{% extends "organizer/layout.html"%}

{% block content %}
		
		<div id="yourEvents"> 
			YOUR EVENTS
		</div>
			
		<div id="events">

		{% for event in events %}
			<ul>
				<li>{{ event.name }}</li>
			</ul>
		{% endfor %}

		<button class="createNewEventButton">Create New Event </button>
		</div>
		<!-- <form action="/api/organizer/newEvent" method="post">
	        <table>
	            {{ newEvent.as_table }}
	        </table>
	        <!-- {% csrf_token %}
        	<input type="submit" value="Submit">
    	</form> --> 
{% endblock %}