<!-- Shawn Jain -->
<!-- 2/3/2014 -->
<!-- Kommonly -->

<!-- Temporary Homepage for dev -->
{% extends "organizer/layout.html"%}

{% block content %}
		

		<div id="yourEvents"> 
			YOUR EVENTS
		</div>

		<div id="eventsContainer">
				
			<div id="events">

			{% for event in events %}
				<ul id="eventsList">
					<li>
						<span id="eventName">
							<span><img src="/static/event_icon.png" style="height: 30px; padding-right: 10px;"></img></span>{{ event.name }}
						</span>
						<div id="eventControllers">
							<a href="" class="eventoption">Delete </a>
							<a class="eventoption" href=""> Edit Event</a>
						</div>


					</li>
				</ul>
			{% endfor %}
				<div style="text-align:center" id="signupbutton">
					<a href="/events/create" class="orangeButton" style="text-decoration:none;">
						Create New Event
					</a>
				</div>

			</div>
		</div>
		<!-- <form action="/api/organizer/newEvent" method="post">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Description</th>
			</tr>
			{% for event in events %}
			<tr>
				<td>{{ event.name }}</td>
				<td>{{ event.date }}</td>
				<td>{{ event.description }}</td>
				<td><img src="{{ event.picture }}"></img><td>
			</tr>
			{% endfor %}
		</table>

		<form action="/api/organizer/newEvent" method="post" enctype="multipart/form-data">
	        <p><input id="id_image" type="file" class="" name="image"></p>
	        <table>
	            {{ newEvent.as_table }}
	        </table>
	        <!-- {% csrf_token %}
        	<input type="submit" value="Submit">
    	</form> --> 
{% endblock %}
