<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">
    <title>Kommonly</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/static/css/carousel.css" rel="stylesheet">
  <style type="text/css" id="holderjs-style"></style></head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
      </div>
    </div>

    <div class="topPart">

      <div class="kommonlyHeader">
        
        <img src="/static/logo.png"  alt="140x140"> 
        <!-- <h1>Kommonly</h1> -->
      </div>
    </div>  

    <div class="container marketing">
      <!-- Small modal -->
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="/static/local.png" style="width: 140px; height: 140px;" alt="140x140">
          <h2>Local</h2>
          <p>Show off your event to local businesses with a click of a button.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/static/fast_icon.png" style="width: 140px; height: 140px;" alt="140x140">
          <h2>Fast & Reliable</h2>
          <p>Kommonly will find the perfect sponsor for your event in no time.</p>
          
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/static/free.png" style="width: 140px; height: 140px;" alt="140x140">
          <h2>Totally Free</h2>
          <p>And we don't take any money from your event!</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">
      <div class="howItWorks" style="text-align:center;"><h1>How It Works</h1></div> 
      <br/>
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">List your Event on Kommonly <span class="text-muted">It's as easy as 1,2,3.</span></h2>
          <p class="lead">Simply create your event and tell us what it's all about and what you're looking for. This is your chance to show off how awesome your event will be and how it will reach tens (or thousands) of attendees! </p>
        </div>
        <div class="col-md-5">
          <img src="/static/homepage_illustration.png" class="featurette-image img-responsive" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img src="/static/search.png" class="featurette-image img-responsive" alt="500x500">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Connect with potential sponsors <span class="text-muted">with a simple search.</span></h2>
          <p class="lead">Once your event is created, you can search for companies that would love to sponsor your event in terms of money, swag, venue, or whatever you need!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor 
fringilla. Vestibulum id ligula porta felis euismod semper. Praesent 
commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, 
tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      {% include "footer.html" %}

      <!-- FOOTER -->
     

    </div><!-- /.container -->

    <!-- Pop Up Modal. Insert Sign Up -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          HELLO THERE HOW ARE YOU?
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/docs.js"></script>
  

</body></html>