<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Kommonly</title>

		<!-- Bootstrap core CSS -->
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/custom.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/static/css/carousel.css" rel="stylesheet">
		<style type="text/css" id="holderjs-style"></style></head>

		<!-- Favicon -->
		<link rel='shortcut icon' type='image/png' href='/static/favicon.png'>
	<body>
	 
		<div class="foldContainer">
			<div class="kommonlyHeader">
					
					<div id="menu">
						<a href="" data-toggle="modal" data-target="#modalpopup" id="menubuttons">Log in</a> &nbsp;&nbsp;
						<a href="" data-toggle="modal" data-target="#modalpopup" id="menubuttons" id="menubuttons">Sign Up</a>
					</div>
					<img src="/static/kommonly-logo-large.png" style="height: 70px;"> 
					<!-- <h1>Kommonly</h1> -->
			</div>

			<div class="topPart">
						<div id="bigText">
							<br/>
							Find sponsors to make your event stand out.
						</div>

						<div style="text-align:center" id="signupbutton">
							<button class="orangeButton" data-toggle="modal" data-target="#modalpopup">
								GET STARTED
							</button>
						</div>
						<div id="tabs">
								<a  href="javascript:void(0)" id="business" class="contentNavItem"> For Businesses</a>
								<a href="javascript:void(0)" id="event" class="contentNavItem selected">For Event Planners</a>
						</div>
			</div>
		</div>



		<div class="container marketing" id="below_fold">
	
			<!-- Three columns of text below the carousel -->
			<div class="row" id="event_features">
				<div class="col-lg-4">
					<img src="/static/local.png" style="width: 120px; height: 120px;" alt="140x140">
					<h2 style="font-weight: 100;">Local</h2>
					<p style="font-size: 18px;">Show off your event to local businesses with a click of a button.</p>
					
				</div>
				<div class="col-lg-4">
					<img src="/static/fast_icon.png" style="width: 120px; height: 120px;" alt="140x140">
					<h2 style="font-weight: 100;">Fast & Reliable</h2>
					<p style="font-size: 18px;">Kommonly will find the perfect sponsor for your event in no time.</p>
					
				</div>
				<div class="col-lg-4">
					<img src="/static/free.png" style="width: 120px; height: 120px;" alt="140x140">
					<h2 style="font-weight: 100;">Totally Free</h2>
					<p style="font-size: 18px;">And we don't take any money from your event!</p>
					
				</div>
					<hr/>
					<div class="featured" id="featured_businesses"> 
					<div class="title-card">

						<span class="featuredTitle">Featured Sponsors</span>
						<span class="see-all" style="float:right;"><a href="/businesses">See all</a></span>

					</div>
					<br/>
					<ul class="slider_list">
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="https://pbs.twimg.com/profile_images/78281106/small_logo_for_twitter.JPG" style="width: 100%; padding-top: 30px;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">B.good</h4>
											<span style="color:#75796f;">B.good is a local burger company based in Massachusettes. With 11 stores, B.good provides "real. food. fast."!</span>
										</div>
										</br>
										<div class="location">

											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
											style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">Boston, MA</span>
										</div>
									</div>
								</div>
							</div>
						</li>	
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="http://blog.liveramp.com/files/2012/09/LiveRamp_Transparent.png" style="width: 100%; padding-top: 40px; padding-bottom: 40px;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">LiveRamp</h4>
											<span style="color:#75796f;">LiveRamp is the leader in Data Onboarding, helping you take your data to new places.</span>
										</div>
										</br>
										<div class="location">

											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
											style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">San Francisco, CA</span>
										</div>
										
									</div>
								</div>
							</div>
						</li>	
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="https://github-jobs.s3.amazonaws.com/dba43940-0b39-11e3-83c2-8c287f4c9d67.jpeg" style="width: 100%; padding-top: 45px; padding-bottom: 40px;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">Jane Street</h4>
											<span style="color:#75796f;">Technology is at the core of Jane Street's business, and software development is integrated into everything they do.</span>
										</div>
										</br>
										<div class="location">
											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
										style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">New York City, NY</span>
										</div>
										
									</div>
								</div>
							</div>
						</li>	
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="http://www.wired.com/wp-content/uploads/blogs/insights/wp-content/uploads/2012/02/Rackspace-Logo.jpg" style="width: 100%; padding-top: 50px; padding-bottom: 30px;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">Rackspace Hosting</h4>
											<span style="color:#75796f;">Rackspace Inc. is an IT hosting company and is the leader in open cloud computing.</span>
										</div>
										</br>
										<div class="location">
											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
											style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">Redmond,WA</span>
										</div>
									</div>
								</div>
							</div>
						</li>	

					</ul>
				</div>

			</div>
			
			<br/>
		

			<div class="row" style="display:none;" id="business_features">
				<div class="col-lg-4">
					<img src="/static/local.png" style="width: 120px; height: 120px;" alt="140x140">
					<h2 style="font-weight: 100;">Local</h2>
					<p style="font-size: 18px;">Kommonly gives you access to big and small events happening around you.</p>
					
				</div>
				<div class="col-lg-4">
					<img src="/static/analytics.png" style="width: 120px; height: 120px;" alt="140x140">
					<h2 style="font-weight: 100;">Analytics</h2>
					<p style="font-size: 18px;">Kommonly helps you identify the best events to sponsor
						with the best return on your investment.</p>
					
				</div>
				<div class="col-lg-4">
					<img src="/static/streamlined.png" style="width: 120px; height: 120px;" alt="140x140">
					<h2 style="font-weight: 100;">Streamlined</h2>
					<p style="font-size: 18px;">The entire sponsorship process is handled on Kommonly. No more mass e-mails from random people.</p>
					
				</div>
				<div class="featured" id="featured_events"> 
				<div class="title-card">

						<span class="featuredTitle">Featured Events</span>
						<!--<span class="see-all" style="float:right;"><a href="/businesses">See all</a></span>-->

				</div>
					<br/>
					<ul class="slider_list">
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="http://www.hcs.harvard.edu/~harvardwomenincs/img/logo.jpg" style="width: 100%;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">Python Bee</h4>
											<span style="color:#75796f;">At Python Bee you'll be coding up challenges spelling bee style, where you and your partner will each provide one letter at a time. !</span>
										</div>
										</br>
										<div class="location">

											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
											style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">Harvard University, Cambridge</span>
										</div>
									</div>
								</div>
							</div>
						</li>	
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1.0-1/p160x160/1656056_10152291164158968_1888042443_n.png" style="width: 100%; height: 140px;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">Undergraduate Council</h4>
											<span style="color:#75796f;">The UC is the government of the student body at Harvard College. The UC organizes many events that reach the entirety of the student population.</span>
										</div>
										</br>
										<div class="location">

											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
											style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">Harvard University, Cambridge</span>
										</div>
										
									</div>
								</div>
							</div>
						</li>	
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="http://www.hcs.harvard.edu/~harvardwomenincs/img/logo.jpg" style="width: 100%;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">OCaml Bee</h4>
											<span style="color:#75796f;">Similar to Python Bee, the OCaml Bee is a student-run event that brings the best of Harvard's Computer Science students for coding challneges, free food, and lots of fun!</span>
										</div>
										</br>
										<div class="location">
											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
										style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">1600 Amp., CA</span>
										</div>
										
									</div>
								</div>
							</div>
						</li>	
						<li>
							<div class="project">
								<div class="project-card-wrap">
									<div class="project-card">
										<div class="img_event">
											<img src="https://evbdn.eventbrite.com/s3-s3/eventlogos/88244245/angelhacklogoblk.png" style="width: 100%; padding-bottom: 20px;"></img>
										</div>
										<div class="featured_description">
											<h4 style="color: #0b1902;">AngelHack</h4>
											<span style="color:#75796f;">AngelHack organizes innovation events and hackathons around the world. Our flagship event is the global AngelHack competition, where 10,000+ developers come together.</span>
										</div>
										</br>
										<div class="location">
											<img src="http://eventinsure.hubinternational.com/images/dropdowns/quote/location-icon.png" 
											style="width: 30px;"></img>
											<span class="location-name" style="color: #75796f;">Cambridge, MA</span>
										</div>
									</div>
								</div>
							</div>
						</li>	

					</ul>
				</div>



				
	
			</div>

			<!-- START THE FEATURETTES -->

			<hr class="featurette-divider">
			<div class="howItWorks" style="text-align:center;"><h1>How It Works</h1></div> 
			<br/>
			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading" >List your Event on Kommonly <span class="text-muted">It's as easy as 1,2,3.</span></h2>
					<p class="lead">Simply create your event and tell us what it's all about and what you're looking for. This is your chance to show off how awesome your event will be and how it will reach tens (or thousands) of attendees! </p>
				</div>
				<div class="col-md-5">
					<img src="/static/homepage_illustration.png" class="featurette-image img-responsive" alt="500x500">
				</div>
			</div>

			<hr class="featurette-divider" style="border-top: 1px solid red;">

			<div class="row featurette">
				<div class="col-md-5">
					<img src="/static/search.png" class="featurette-image img-responsive" alt="500x500">
				</div>
				<div class="col-md-7">
					<h2 class="featurette-heading">Connect with potential sponsors <span class="text-muted">with a simple search.</span></h2>
					<p class="lead">Once your event is created, you can search for companies that would love to sponsor your event in terms of money, swag, venue, or whatever you need! </p>
				</div>
			</div>

			<hr class="featurette-divider" style="border-top: 1px solid blue;">

			<div class="row featurette">
				<div class="col-md-7">
					<h2 class="featurette-heading"> <span class="text-muted">Everyone wins.</span></h2>
					<p class="lead">
						By creating these connections, Kommonly helps both companies and event organizers in a mutually benefecial way. For companies, we give you access to the best events to show off your brand, and we give you event organizers the resources to make sure your event stands out.
					</p>
				</div>
				<div class="col-md-5">
					<img src="/static/everyone_wins.png" class="featurette-image img-responsive" style="height: 300px; margin:0 auto;"alt="300x300">
				</div>
			</div>

			<hr class="featurette-divider">

			<!-- /END THE FEATURETTES -->


		</div>

		<!-- START FOOTER -->
		{% include "footer.html" %}
		<!-- END FOOTER -->
	 
		<!-- POP UP MODAL-->
		<div class="modal fade" id="modalpopup">
			<div class="modal-dialog">
				<div class="modal-content">

						<ul class="nav nav-tabs" id="myTab">
						  <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
						  <li><a href="#signup" data-toggle="tab">Signup</a></li>
						</ul>
					<div class="modal-body">

						<div class="tab-content">
							
							<div class="tab-pane active" id="signup">

								<form action="/api/organizer/signup" method="post">
									{% 	csrf_token %}
									{{ signupForm.as_p }}
									<input class="orangeButton" type="submit" value="Submit" />
								</form>
							</div>


							<div class="tab-pane" id="login">

								<form action="/api/organizer/login" method="post">
									{% csrf_token %}
									{{ loginForm.as_p }}
									<input class="orangeButton" type="submit" value="Submit" />
								</form>
							</div>
							
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="signup2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Modal title</h4>
					</div>
					<div class="modal-body">
						
						<form action="/api/organizer/signup" method="post">{% csrf_token %}
							{% for field in signupForm %}
								{{ field}}
							{% endfor %}

							{{ signupForm.as_p }}
						<input type="submit" value="Submit" />
						</form>


					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
				</div>
			</div>
		</div>



		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.js"></script>
		<script src="/static/js/docs.js"></script>
	

</body>

</html>

<script>
	$(".contentNavItem").on('click', function() {
		if (!$(this).hasClass("selected")) {
			$(this).addClass("selected")
			if ($(this).attr('id') == "business") {
				$('#event').removeClass("selected");
				$('#event_features').hide();
				$('#business_features').show();

			} else {
				$('#business').removeClass("selected");
				$('#business_features').hide();
				$('#event_features').show();

			}
		}
	})
	
	$('#myTab a').click(function (e) {
		console.log("clicked")
	  e.preventDefault();
	  $(this).tab('show')
	})
	$('#myTab a:last').tab('show');
</script>