<!-- Shawn Jain -->
<!-- 2/3/2014 -->
<!-- Kommonly -->

<!-- Temporary Homepage for dev -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<style> 
		body {
			padding-left: 30px;
		}
		</style>
		<script>
		$(document).ready(function(){
			
		});	
		</script>
	</head>

	<body>
		<h1>Kommonly</h1>
		<h3>Shawn Jain, Nuseir Yassin</h3>
		<h2>Sponsor Matching Service</p>

		<form action="" method="post">
	        {% csrf_token %}
	        <table>
	            {{ form.as_table }}
	        </table>
        <input type="submit" value="Submit">
        
    </form>
	</body>
</html>