.topPart {
	height: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

.foldContainer {
	background-image: url('../background_image.png');
    background-size: 100% auto;
    background-position: 40% 77%;
    position: relative;
    background-repeat: no-repeat;

}
.kommonlyHeader {
	height: 90px;
	background-color: white;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 10px;
	border-top: 2px solid #ff8726 ;
	opacity: 1;
}

#topImg {
	height: 400px;
	width: 100%;
	opacity:0.1;
	z-index: 10;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff8726;
   height: 40px;
   padding-left: 30px;
   overflow: hidden;
}
#body {
   /*padding:40px;*/
   /*padding-bottom:60px;    Height of the footer */
}
#footer {
   /*position:absolute;*/
   /*bottom:0;*/
   width:100%;
   height:60px;   /* Height of the footer */
   background:#F8F8F8;
   border-top: 1px solid #ff8726;

}
#headerLogo {
	margin-top: 5px;
	height: 30px;
}
#footerLogo {
	height: 60px;
	padding-bottom: 5px;
	padding-left:30px;
}

	
div.logged-in ul {
	list-style-type: none;
	color: white;
}
div.logged-in li {
	float: right;

	width: 10%;
	background-color: #FF9966;
	overflow: hidden;
	/*margin-right: 10px;*/
	margin-left: 10px;
	line-height:40px;
	/*padding-left:10px;*/
	width:86px;
	height:40px;
	top: 0;
	right: 0;
	text-align:center;
	position: relative;
	opacity: 0.8;

}
div.logged-in li:hover {
	background-color: #ff8726;

}
div.logged-in {
	margin-top: 0px;
	position: absolute;
	display: inline-block;
	width: 45%;
	color: white;

}
div.logged-in .tab {
	color: white;
	text-decoration: none;
}

.createNewEventButton {
	border: 1px solid #F8F8F8 ;
	border-radius: 2px;
	text-align: center;
	padding:		10px 20px !important;
	font-size:		14px !important;
	background-color:	white;
  	margin-left:50%;
  	margin-right:50%;
}
#yourEvents {
	height: 100px;
	font-size: 40px;
	font-weight: 100;
	padding: 40px;
	border-bottom: 1px solid gray;
}
#events {
	padding: 40px;
	border-top: 1px solid #F8F8F8;
	min-height: 600px;

}
#eventsContainer {
	background-color: #F8F8F8;
	width: 100%;
}
#eventsList {
	list-style-type: none;
	width: 100%;

}
#eventsList li {
	height: 80px;
	padding: 25px 0 20px 0;
	/*margin-bottom: 27px;*/

}


#eventsList li:hover {
	background-color: #F0F0F0;
}

#eventControllers {
	position: absolute;
	display: inline-block;
	color: blue;
	width: 35%;
}
#eventName {
	width: 60%;
	display: inline;
	position: relative;
	float: left;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 100;
}
.eventoption {
	float: right;
	width: 10%;
	overflow: hidden;
	margin-left: 10px;
	line-height:40px;
	width:86px;
	height:40px;
	top: 0;
	right: 0;
	text-align:center;
	position: relative;
	opacity: 0.8;

}
.contentNavItem {
	color: #00a0d1;
	opacity: .75;
	background-color: #fff;
	font-size: 15px;
	font-weight: 150;
	padding: 8px;
	border-radius: 3px 3px 0px 0px;
	text-align: center;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	display: inline-block;
	/*float: left;*/
	margin-left: 2.5%;
	width: 46%%;

}
.selected {
	opacity: 1;
	color: #ff8726;
	font-weight: 200;

}
#tabs {
	bottom: 0;
	position: absolute;
	width: 100%;
	margin: 0 auto;
}
#menu {
	position: absolute;
	color: blue;
	top: 4;
	right: 0;
	margin-right: 12%;
}

#menubuttons {
	color: gray;
}
#bigText {
	font-size: 50px;
	color: black;
	font-weight: 100;
	margin: 0 auto;
	text-align: center;
	max-height: 200px;
	word-wrap: break-word;

}
#below_fold {
	margin-top: 60px;
}
.orangeButton {
	color: white;
	background-color: #ff8726;
	padding:7px;
	padding-left: 50px;
	padding-right:50px;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 0 1px gray;
        box-shadow: 0 0 1px gray;


}

div.signupbutton a {
	text-decoration: none;
}

/* overriding bootstrap*/
.featurette-divider {
	margin: 50px 0 ;
	border-top: 2px solid #ff8726;
}
.featurette-heading {
	font-weight: 100 !important;
}
.footer_options {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	display: inline;
	text-align: center;
}
.footer_options  li {
	float:right;
	font-size: 16px;
	padding-top: 10px;
	width: 20%;
	text-align: center;
	display: inline-block;
	font-weight: 100;
	margin-left: 5%;
	

}

.centered {
	width: 50%;
	margin: 0 auto;
}
.createNewEvent {
	width: 100%;
	margin: 0 auto;
}
input:not([type=submit]):not([type=file]) {
    border: 2px solid #f8f8f8;
	padding: 10px;
	background: rgba(255,255,255,0.5);
	margin: 0 0 10px 0;
	width: 100%;
	font-weight: 100;
	font-size: 21px;
	-webkit-box-shadow: 0 0 1px gray;
        box-shadow: 0 0 1px gray;
}

#user_options {
	position: absolute;
	color: blue;
	top: 6;
	right: 0;
	margin-right: 12%;
	float: left;
}

#header_logo {
	width: 50%;
	float: left;
}