<div class="profile">
	{{business.name}}
	<div class="left">
		<div>
		{% load staticfiles %}
		<img src="{% static 'assets/businesses/' %}{{business.id}}.jpg" alt="{business.name} logo" class="business" style="height:100px"/>
				</a>
		</div>
		<div>{{ business.description }}</div>
	</div>
	<div class="right">
		<div>
			Number of employees
			{{business.employees}}
			<p>On Kommonly since business.timestamp </p>
		</div>
		<div>
			Available to sponsor
			{% for funding in funding_types %}
				<div>{{ funding.funding_type }}</div>
			{% endfor %}
		</div>
		<div>
			<b>Location:</b>business.address
		</div>
	</div>
	<div>
		<a href="/businesses/{{business.id}}/contact">Contact</a>
	</div>


</div>
