<!-- Shawn Jain -->
<!-- 2/3/2014 -->
<!-- Kommonly -->

<!-- Temporary Homepage for dev -->
{% extends "organizer/layout.html"%}

{% block content %}
		{% if edit %}
		<form action="/events/{{currentEvent.pk}}/edit" method="post" enctype="multipart/form-data">
		{% else %}
		<form action="/api/organizer/newEvent" method="post" enctype="multipart/form-data">
		{% endif %}
	        <p><input id="id_image" type="file" class="" name="image"></p>
	        <table>
	            {{ newEvent.as_table }}
	            {% for sponsor_type, selected in sponsor_types.items %}
	            <tr><th><label for="{{sponsor_type}}">{{sponsor_type}}:</label></th><td><input name="{{sponsor_type}}" type="checkbox" {% if selected %}checked="True"{% endif %}/></td></tr>
	            {% endfor %}
	        </table>
	        {% csrf_token %}
        	<input type="submit" value="Save">
    	</form> 
{% endblock %}
