<!-- Shawn Jain -->
<!-- 2/3/2014 -->
<!-- Kommonly -->

<!-- Temporary Homepage for dev -->
{% extends "organizer/layout.html"%}

{% block content %}
		
		<form action="/api/organizer/newEvent" method="post">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Description</th>
			</tr>
		</table>

		<form action="/api/organizer/newEvent" method="post" enctype="multipart/form-data">
	        <p><input id="id_image" type="file" class="" name="image"></p>
	        <table>
	            {{ newEvent.as_table }}
	            {{ newEvent_Sponsorship_PreferencesForm.as_table }}
	        </table>
	        {% csrf_token %}
        	<input type="submit" value="Submit">
    	</form> 
{% endblock %}
