
{% extends "organizer/layout.html"%}

{% block content %}

<div class="eventName">
	Lakeview Startup Meeting

</div>

<div class="aboutEvent">

	<div class="eventDescription">
		<img src="/static/assets/event_image_filler.jpg" style="width: 100%; height: 300px;"></img> 
		<h4>About The Event </h4>
		<hr>
		<!-- <div id="businessLogo">
			<img src="/static/event_icon.png" style="width: 100%;"></img>
		</div> -->
		<div id="businessTextDescription">
			Facebook, Inc. operates as a social networking company worldwide. It builds various tools that enable users to connect, share, discover, and communicate with each other on mobile devices and computers. The company's Facebook Platform is a set of deve
		</div>
	</div>

	<div class="businessDetails">
		<h4>Event Details: </h4>
		<hr>
		<div class="detailBox" id="businessOverview">
			<font color="red">$500</font> funding needed <br/>
			<font color="red">200 </font> Expected Reach<br/>
			<font color="red">2/5/2014 </font> Event Date<br/>
		</div>
		<div class="detailBox" id="sponsorshipTypes">
			Event Needs: <br/><br/>
			
			<div id="iconBox">
				
				<div id="img1" style="border-right: 1px solid #F0F0F0;">
					{% if "Venue" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/venue-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/venue-gray.png"></img>
					{% endif %}
					<p>Venue</p>
				</div>
				<div id="img1" style="border-right: 1px solid #F0F0F0;">
					{% if "Funding" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/money-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/money-gray.png"></img>
					{% endif %}
					<p>Money</p>
				</div>
				<div id="img1" style="border-right: 1px solid #F0F0F0;">

					{% if "Swag" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/swag-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/swag-gray.png"></img>
					{% endif %}
					<p>Swag</p>
				</div>
				<div id="img1">
					{% if "People" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/people-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/people-gray.png"></img>
					{% endif %}
					<p>People</p>
				</div>
				
			</div>
		</div>
		<div class="detailBox" id="businessLocation">
			Location <br/>
			Harvard University, Cambridge, MA 02138
		</div>
		
		<div class="detailBox" id="aboutOrganizer">
			Organized by Harvard Women in Computer Science
		</div>
		<div id="contactButton" >
		<a class="orangeButton" href="/businesses/{{business.id}}/contact">Contact Sponsors</a>
	</div>
		
	</div>


</div>
{% endblock %}
