
{% extends "organizer/layout.html"%}

{% block content %}

<div class="eventName">
	{{ currentEvent.name}}

</div>

<div class="aboutEvent">

	<div class="eventDescription">
		<img src="{{ picture_url }}" style="width: 100%; height: 300px;"></img> 
		<h4>About The Event </h4>
		<hr>
		<!-- <div id="businessLogo">
			<img src="/static/event_icon.png" style="width: 100%;"></img>
		</div> -->
		<div id="businessTextDescription">
			{{ currentEvent.description}}
		</div>
	</div>

	<div class="businessDetails">
		<h4>Event Details: </h4>
		<hr>
		<div class="detailBox" id="businessOverview">
			Funding Sought: <font color="red">${{ currentEvent.funding_sought }}</font><br/>
			Expected Reach: <font color="red">{{ currentEvent.expected_reach }} </font><br/>
			Event Date: <font color="red">{{ currentEvent.event_date|date:'l, F d, Y h:i A' }}</font><br/>
		</div>
		<div class="detailBox" id="sponsorshipTypes">
			Event Needs: <br/><br/>
			
			<div id="iconBox">
				
				<div id="img1" style="border-right: 1px solid #F0F0F0;">
					{% if "Venue" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/venue-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/venue-gray.png"></img>
					{% endif %}
					<p>Venue</p>
				</div>
				<div id="img1" style="border-right: 1px solid #F0F0F0;">
					{% if "Funding" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/money-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/money-gray.png"></img>
					{% endif %}
					<p>Funding</p>
				</div>
				<div id="img1" style="border-right: 1px solid #F0F0F0;">

					{% if "Swag" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/swag-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/swag-gray.png"></img>
					{% endif %}
					<p>Swag</p>
				</div>
				<div id="img1">
					{% if "People" in funding_types %}
					<img src="/static/assets/sponsorshipIcons/people-green.png"></img>
					{% else %}
					<img src="/static/assets/sponsorshipIcons/people-gray.png"></img>
					{% endif %}
					<p>People</p>
				</div>
				
			</div>
		</div>
		<div class="detailBox" id="businessLocation">
			Location <br/>
			{{ currentEvent.location }}
		</div>
		
		<div class="detailBox" id="aboutOrganizer">
			Organized by {{ currentEvent.organizer.organization}}
		</div>
		<div id="contactButton" >
		<a class="orangeButton" href="/businesses">Contact Sponsors</a>
	</div>
		
	</div>


</div>
{% endblock %}
